<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
 * @Autor
 * Rene M. Gudmundsson P.
 * Lizbeth Z. Montanio C. 
 -->
<mapper namespace="com.gudmundsson.subscription.dao.MUserMapper">
    <!-- Result Maps -->
    <resultMap id="UserResultMap" type="com.gudmundsson.subscription.core.User">
        <id     column="use_user_id" 	      property="userId" 	    javaType="string"/>
        <result column="use_name"   		  property="name"   		javaType="string"/>
        <result column="use_email"            property="email"         	javaType="string"/>
        <result column="use_total_cost_month" property="totalCostMonth" javaType="double"/>
    </resultMap>
    
    <!-- Queries -->
    
    <!-- *** Este query obtine un client a partir de su campo clientId -->
    <select id="getUsertById" resultMap="UserResultMap">
        <![CDATA[
            SELECT *
              FROM user
        ]]>
        <where>
               AND use_user_id = #{recordId}
        </where>
    </select>  
    
    <!-- *** Este query guarda un registro user -->   
    <insert id="saveRecord">
        <![CDATA[
            INSERT INTO user
                       (use_user_id,
                        use_name,
                        use_email,
                        use_total_cost_month)
                VALUES (#{user.userId},
                        #{user.name},
                        #{user.email},
                        #{user.totalCostMonth})
        ]]>
    </insert>  
</mapper> 