<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
 * @Autor
 * Rene M. Gudmundsson P.
 * Lizbeth Z. Montanio C. 
 -->
<mapper namespace="com.gudmundsson.subscription.dao.MInvoiceMapper">
    <!-- Result Maps -->
    <resultMap id="InvoiceResultMap" type="com.gudmundsson.subscription.core.Invoice">
        <id     column="inv_invoice_id" 	     property="invoiceId" 	    		    javaType="long"/>
        <result column="inv_billing_period"   	 property="billingPeriod"   			javaType="string"/>
        <result column="inv_issue_date" 		 property="issueDate" 				    javaType="java.sql.Timestamp"/>
        <result column="inv_total_amount"        property="totalAmount"         		javaType="double"/>
        <result column="inv_sub_subscription_id" property="subscription.subscriptionId" javaType="long"/>
    </resultMap>
    
    <!-- Queries -->
    
    <!-- *** Este query obtiene un invoice a partir de su campo invoiceId -->
    <select id="getInvoiceById" resultMap="InvoiceResultMap">
        <![CDATA[
            SELECT *
              FROM invoice
        ]]>
        <where>
               AND inv_invoice_id = #{recordId}
        </where>
    </select>
    
    <!-- *** Este query guarda un registro invoice -->   
    <insert id="saveRecord">
        <![CDATA[
            INSERT INTO invoice
                       (inv_invoice_id,
                        inv_billing_period,
                        inv_total_amount,
                        inv_issue_date,
                        inv_sub_subscription_id)
                VALUES (#{invoice.invoiceId},
                        #{invoice.billingPeriod},
                        #{invoice.totalAmount},
                        CURRENT_TIMESTAMP,
                        #{invoice.subscription.subscriptionId})
        ]]>
    </insert>
    
    <!-- *** Este query obtiene un invoice a partir de su campo subcriptionId -->
    <select id="getInvoiceBySubscriptionId" resultMap="InvoiceResultMap">
        <![CDATA[
            SELECT *
              FROM invoice
        ]]>
        <where>
               AND inv_sub_subscription_id = #{subscriptionId}
        </where>
    </select>
     
    <!-- Obtener el invoices agrupando servicios por compañia -->
     <select id="getInvoicesByCompanyId" resultMap="InvoiceResultMap">
        <![CDATA[
            SELECT co.com_name,
            	   it.ite_name
              FROM company co
              JOIN item_service it ON co.com_company_id = it.ite_com_company_id
              JOIN subscription su ON it.ite_item_service_id = su.sub_subscription_id
              JOIN invoice i ON su.sub_subscription_id = i.inv_invoice_id
        ]]>
        <where>
               AND inv_invoice_id = #{invoiceId}       
        </where>
    </select>   
    
    <select id="getNextVal" resultType="java.lang.Long">
        SELECT NEXTVAL('inv_seq')
    </select>    
</mapper>