<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
 * @Autor
 * Rene M. Gudmundsson P.
 * Lizbeth Z. Montanio C. 
 -->
<mapper namespace="com.gudmundsson.subscription.dao.MItemServiceMapper">
    <!-- Result Maps -->
    <resultMap id="ItemServiceResultMap" type="com.gudmundsson.subscription.core.ItemService">
        <id     column="ite_item_service_id" property="itemServiceId" 	  javaType="long"/>
        <result column="ite_name"   		 property="name"   			  javaType="string"/>
        <result column="ite_costxhour"       property="costHour"          javaType="double"/>
        <result column="ite_description" 	 property="description" 	  javaType="string"/>
        <result column="ite_com_company_id"  property="company.companyId" javaType="long"/>
    </resultMap>
    
    <!-- Queries -->
    
    <!-- *** Este query obtine un client a partir de su campo clientId -->
    <select id="getItemServiceById" resultMap="ItemServiceResultMap">
        <![CDATA[
            SELECT *
              FROM item_service
        ]]>
        <where>
               AND ite_item_service_id = #{recordId}
        </where>
    </select>  
    
    <!-- *** Este query guarda un registro itemService -->   
    <insert id="saveRecord">
        <![CDATA[
            INSERT INTO item_service
                       (ite_item_service_id,
                        ite_name,
                        ite_costxhour,
                        ite_description,
                        ite_com_company_id)
                VALUES (#{item_service.itemServiceId},
                        #{item_service.name},
                        #{item_service.costHour},
                        #{item_service.description},
                        #{item_service.company.companyId})
        ]]>
    </insert>
    
    <select id="getItemServicesByCompanyId" resultMap="ItemServiceResultMap">
        <![CDATA[
            SELECT it.ite_item_service_id,
            	   it.ite_name, 
            	   it.ite_costxhour,
            	   it.ite_com_company_id
              FROM item_service it
              JOIN company co ON it.ite_com_company_id = co.com_company_id
        ]]>
        <where>
               AND co.com_company_id = #{companyId}
        </where>
    </select>
    
    <select id="getItemServiceBySubscriptionId" resultMap="ItemServiceResultMap">
        <![CDATA[
            SELECT it.ite_item_service_id,
            	   it.ite_name, 
            	   it.ite_costxhour,
            	   it.ite_com_company_id
              FROM item_service it
              JOIN subscription su ON it.ite_item_service_id = su.sub_ite_item_service_id
        ]]>
        <where>
               AND co.com_company_id = #{companyId}
        </where>
    </select>    
    
    <select id="getNextVal" resultType="java.lang.Long">
        SELECT NEXTVAL('ite_seq')
    </select>  
</mapper> 