<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
 * @Autor
 * Rene M. Gudmundsson P.
 * Lizbeth Z. Montanio C. 
 -->
<mapper namespace="com.gudmundsson.subscription.dao.MSubscriptionMapper">
    <!-- Result Maps -->
    <resultMap id="SubscriptionResultMap" type="com.gudmundsson.subscription.core.Subscription">
        <id     column="sub_subscription_id" 	 property="subscriptionId" 	    	  javaType="long"/>
        <result column="sub_state"       		 property="state"         			  javaType="boolean"/>
        <result column="sub_hours_used" 		 property="hoursUsed" 				  javaType="double"/>
        <result column="sub_activation_date"   	 property="activationDate"   		  javaType="java.sql.Timestamp"/>
        <result column="sub_cus_customer_id"     property="customer.customerId" 	  javaType="long"/>
        <result column="sub_ite_item_service_id" property="itemService.itemServiceId" javaType="long"/>
    </resultMap>
    
    <!-- Queries -->
    
    <!-- *** Este query obtine un client a partir de su campo clientId -->
    <select id="getSubscriptionById" resultMap="SubscriptionResultMap">
        <![CDATA[
            SELECT *
              FROM subscription
        ]]>
        <where>
               AND sub_subscription_id = #{recordId}
        </where>
    </select>
    
    <!-- *** Este query guarda un registro subscription -->   
    <insert id="saveRecord">
        <![CDATA[
            INSERT INTO subscription
                       (sub_subscription_id,
                        sub_activation_date,
                        sub_state,
                        sub_hours_used,
                        sub_cus_customer_id,
                        sub_ite_item_service_id)
                VALUES (#{subscription.subscriptionId},
                        CURRENT_TIMESTAMP,
                        #{subscription.state},
                        #{subscription.hoursUsed},
                        #{subscription.customer.customerId},
                        #{subscription.itemService.itemServiceId})
        ]]>
    </insert>
    
     <update id="updateRecord">
        UPDATE subscription
        <set>
            <if test="subscription.state != null">
                sub_state = #{subscription.state},
            </if>
            <if test="subscription.hoursUsed != null">
                sub_hours_used = #{subscription.hoursUsed},
            </if>            
                sub_activation_date = CURRENT_TIMESTAMP
        </set>
        <where>
            AND sub_subscription_id = #{subscription.subscriptionId}
        </where>
    </update> 
    
    <!-- Encontrar todas las suscripciones activas de un cliente específico -->
    <select id="getSubscriptionsByCustomerId" resultMap="SubscriptionResultMap">
        <![CDATA[
            SELECT su.sub_ite_item_service_id, 
            	   it.ite_name, 
            	   it.ite_costxhour
              FROM subscription su
              JOIN item_service it ON su.sub_ite_item_service_id = it.ite_item_service_id
        ]]>
        <where>
               AND su.sub_cus_customer_id = #{recordId}
               AND su.sub_state = TRUE       
        </where>
    </select>    
    
    
    <!-- Obtener el nombre del usuario y la compañía asociada a una suscripción -->
     <select id="getCustomerAndCompanyBySubscriptionId" resultMap="SubscriptionResultMap">
        <![CDATA[
            SELECT cu.cus_name, 
            	   co.com_name, 
            	   cu.cus_customer_id
              FROM customer cu
              JOIN subscription su ON cu.cus_customer_id = su.sub_cus_customer_id
              JOIN item_service it ON su.sub_ite_item_service_id = it.ite_item_service_id
              JOIN company co ON it.ite_com_company_id = co.com_company_id
        ]]>
        <where>
               AND su.sub_subscription_id = #{recordId}       
        </where>
    </select>
       
    <select id="getNextVal" resultType="java.lang.Long">
        SELECT NEXTVAL('sub_seq')
    </select>
         
</mapper>