<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
 * @Autor
 * Rene M. Gudmundsson P.
 * Lizbeth Z. Montanio C. 
 -->
<mapper namespace="com.gudmundsson.subscription.dao.MSubscriptionMapper">
    <!-- Result Maps -->
    <resultMap id="SubscriptionResultMap" type="com.gudmundsson.subscription.core.Subscription">
        <id     column="sub_subscription_id" 	 property="subscriptionId" 	    	  javaType="long"/>
        <result column="sub_state"       		 property="state"         			  javaType="boolean"/>
        <result column="sub_hours_used" 		 property="hoursUsed" 				  javaType="double"/>
        <result column="sub_activation_date"   	 property="activationDate"   		  javaType="java.sql.Date"/>
        <result column="sub_use_user_id"		 property="user.userId" 			  javaType="long"/>
        <result column="sub_ite_item_service_id" property="itemService.itemServiceId" javaType="long"/>
    </resultMap>
    
    <!-- Queries -->
    
    <!-- *** Este query obtine un client a partir de su campo clientId -->
    <select id="getSubscriptionById" resultMap="SubscriptionResultMap">
        <![CDATA[
            SELECT *
              FROM subscription
        ]]>
        <where>
               AND sub_subscription_id = #{recordId}
        </where>
    </select>
    
    <!-- *** Este query guarda un registro subscription -->   
    <insert id="saveRecord">
        <![CDATA[
            INSERT INTO subscription
                       (sub_subscription_id,
                        sub_activation_date,
                        sub_state,
                        sub_hours_used,
                        sub_use_user_id,
                        sub_ite_item_service_id)
                VALUES (#{subscription.subscriptionId},
                        #{subscription.activationDate},
                        #{subscription.state},
                        #{subscription.hoursUsed},
                        #{subscription.user.userId},
                        #{subscription.itemService.itemServiceId})
        ]]>
    </insert>
    
    <select id="getNextVal" resultType="java.lang.Long">
        SELECT NEXTVAL('sub_seq')
    </select>   
</mapper>